<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    />
  </head>
  <body>
    <div class="landingpage">
      <img class="bgwidget-icon" alt="" src="/static/public/bgwidget@2x.png" />

      <div class="miniwidget2">
        <img class="miniwidget-icon2" alt="" src="/static/public/miniwidget@2x.png" />

        <div class="button2">
          <div class="button-inner"></div>
          <div class="log-in4">Log in</div>
        </div>
        <div class="log-in5">
          <div class="contacts2"></div>
          <img
            class="icons8-log-in-96-12"
            alt=""
            src="/static/public/icons8login96-1@2x.png"
          />
        </div>
      </div>
      <div class="titlewidget">
        <img
          class="titlewidget-icon"
          alt=""
          src="/static/public/titlewidget@2x.png"
        />

        <div class="see-list">
          <div class="see-list-child"></div>
          <div class="see-more">><a href="/templates/ListPage.html" style="color: black; text-decoration: none;">see more</a></div>
        </div>
        <b class="see-list-of-container">
          <span class="see-list-of-container1">
            <p class="of-apps">See List</p>
            <p class="of-apps">of Apps!</p>
          </span>
        </b>
      </div>
      <div class="title">
        <img class="vector-icon" alt="" src="/static/public/vector.svg" />

        <div class="try-the-apps">
          <div class="try-the-apps-child"></div>
          <div class="try-the-apps1"><a href="/templates/dir.html" style="color: white; text-decoration: none;">Try the Apps!</a></div>
        </div>
        <div class="seemore">
          <div class="seemore-child"></div>
          <div class="see-more"><a href="/templates/ListPage.html" style="color: black; text-decoration: none;">see more</a></div>
        </div>
      </div>
      <img class="taskbar-icon3" alt="" src="/static/public/taskbar.svg" />

      <div class="groupwidget">
        <img
          class="groupwidget-icon"
          alt=""
          src="/static/public/groupwidget@2x.png"
        />

        <b class="group-members">Group members</b>
        <div class="these-people-are">
          These people are the coders of the site
        </div>
        <img class="sammael-icon" alt="" src="/static/public/sammael@2x.png" />

        <img class="lorenzo-icon" alt="" src="/static/public/lorenzo@2x.png" />

        <img class="loraine-icon" alt="" src="/static/public/loraine@2x.png" />

        <img class="ruben-icon" alt="" src="/static/public/ruben@2x.png" />

        <img class="alexza-icon" alt="" src="/static/public/alexza@2x.png" />

        <img class="pierre-icon" alt="" src="/static/public/pierre@2x.png" />

        <img class="miles-icon" alt="" src="/static/public/miles@2x.png" />
      </div>
      <a href="/templates/Memberpage.html"><img class="image-12-icon" alt="" src="/static/public/image 12.png" /></a>

      <a href="/templates/Memberpage.html"><img class="image-13-icon" alt="" src="/static/public/image 13.png" /></a>

      <a href="/"><img class="image-14-icon" alt="" src="/static/public/image 14.png" /></a>
    </div>
  </body>
</html>
