<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/Memberpage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    />
  </head>
  <body>
    <div class="memberpage">
      <div class="bottomtext">
        <div class="bottomtext-child"></div>
        <div class="this-is-made">
          This is made as a completion for Data Structure and Algorithm
        </div>
        <div class="thank-you-for">
          Thank you for choosing our website. I'm truly grateful for your visit.
          Your support and engagement mean the world to me. I hope you find
          value in my content and services. If you have any questions, feedback,
          or suggestions, please don't hesitate to reach out. Your presence here
          is appreciated, and I look forward to serving you and providing you
          with valuable insights and resources.
        </div>
      </div>
      <div class="people">
        <div class="desc1">
          <b class="hi-im-miles">Hi, I’m Miles Hiceta</b>
          <div class="i-am-a-container">
            <p class="i-am-a">
              I am a student from Bachelor of Science in Computer Engineering
            </p>
            <p class="i-am-a">
              2nd year, section 4. I have a background on designing UI for
              websites
            </p>
            <p class="i-am-a">
              and now in studying Data Structure Analysis, I now understand and
              learned
            </p>
            <p class="i-am-a">the process of back end web development.</p>
          </div>
        </div>
        <div class="desc21">
          <b class="hi-im-miles">Hi, I’m Pierre Zurbito</b>
          <div class="pierre-is-an">
            Pierre is an experienced video editor, layout artist, and school
            paper journalist from Carmona, Cavite. He is also a recipient of the
            Merit Scholarships granted by the Department of Science and
            Technology - SEI. Pierre is currently taking his bachelor's degree
            in computer engineering at Polytechnic University of the Philippines
            - Manila. Once graduated, Pierre plans to continue his studies by
            master's degree in the field of engineering and/or sciences.
          </div>
        </div>
        <div class="desc3">
          <b class="hi-im-miles">Hi, I’m Alexza Catanoy</b>
          <div class="hello-im-alexza">
            Hello, I'm Alexza Jean R. Catanoy, and I'm a dedicated and
            enthusiastic student currently pursuing a degree in Computer
            Engineering at Polytechnic University of the Philippines. My section
            is BSCPE 2-4. Currently living in Antipolo City. I am 19 years of
            age. Beyond academics, I'm an active taekwondo player who is also a
            varsity player of our university who plays taekwondo. It has been my
            hobby ever since. I believe in the power of having a healthy body
            because it has a big impact on everything you do especially while
            studying.
          </div>
        </div>
        <div class="desc4">
          <b class="hi-im-miles">Hi, I’m Ruben Vargas</b>
          <div class="hello-my-name">
            Hello, my name is Ruben A. Vargas, a Computer Engineering student
            (BSCPE 2-4) at Polytechnic University of the Philippines-Manila. I'm
            20 years old and I grew up in Antipolo, Rizal. My hobbies include
            editing random videos, playing online games, and watching thriller
            movies.
          </div>
        </div>
        <div class="desc5">
          <b class="hi-im-miles">Hi, I’m Loraine Añonuevo</b>
          <div class="hello-im-alexza">
            Hi there! I'm Loraine Añonuevo, from the City of San Jose Del Monte
            Bulacan, a second-year college student in section BSCPE 2-4. I'm
            into programming and know my way around Python. Super eager to learn
            more about different types of programming stuff!
          </div>
        </div>
        <div class="desc51">
          <b class="hi-im-miles">Hi, I’m Sammael Magadia</b>
          <div class="hello-im-alexza">
            <p class="i-am-a">
              I am a student from Bachelor of Science in Computer Engineering
            </p>
            <p class="i-am-a">2nd year, section 4.</p>
          </div>
        </div>
        <div class="desc6">
          <b class="hi-im-miles">Hi, I’m Lorenzo Piñon</b>
          <div class="i-am-a-container2">
            <p class="i-am-a">
              I am a student from Bachelor of Science in Computer Engineering
            </p>
            <p class="i-am-a">2nd year, section 4.</p>
          </div>
        </div>
        <img class="image-1-icon" alt="" src="/static/public/image-1@2x.png" />

        <img class="image-2-icon" alt="" src="/static/public/image-2@2x.png" />

        <img class="image-3-icon" alt="" src="/static/public/image-3@2x.png" />

        <img class="image-4-icon" alt="" src="/static/public/image-4@2x.png" />

        <img class="image-5-icon" alt="" src="/static/public/image-5@2x.png" />

        <img class="image-6-icon" alt="" src="/static/public/image-6@2x.png" />

        <img class="image-10-icon" alt="" src="/static/public/image-10@2x.png" />
      </div>
      <img class="taskbar-icon1" alt="" src="/static/public/taskbar.svg" />

      <a href="/templates/Memberpage.html"><img class="image-12-icon" alt="" src="/static/public/image 12.png" /></a>

      <a href="/templates/Memberpage.html"><img class="image-13-icon" alt="" src="/static/public/image 13.png" /></a>

      <a href="/"><img class="image-14-icon" alt="" src="/static/public/image 14.png" /></a>

      <div class="about-us">About Us</div>
    </div>
  </body>
</html>
