<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/ResultsPage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    />
  </head>
  <body>
    <div class="resultspage">
      <img class="header-icon" alt="" src="/static/public/header@2x.png" />

      <div class="miniwidget">
        <img class="miniwidget-icon" alt="" src="/static/public/miniwidget@2x.png" />

        <div class="button">
          <div class="button-child"></div>
          <div class="log-in">Log in</div>
        </div>
        <div class="log-in1">
          <div class="contacts"></div>
          <img
            class="icons8-log-in-96-1"
            alt=""
            src="/static/public/icons8login96-1@2x.png"
          />
        </div>
      </div>
      <a><img class="taskbar-icon" alt="" src="/static/public/taskbar.svg" />
        <a href="/templates/Memberpage.html"><img class="image-12-icon" alt="" src="/static/public/image 12.png" /></a>

        <a href="/templates/Memberpage.html"><img class="image-13-icon" alt="" src="/static/public/image 13.png" /></a>
  
        <a href="/"><img class="image-14-icon" alt="" src="/static/public/image 14.png" /></a>

      </a>
      <div class="desc2">
        <b class="the-best-performing">The Best Performing Search Algorithm</b>
        <div class="after-conducting-a">
          After conducting a thorough analysis, it was observed that
          Interpolation Search Algorithm performed the best overall. This
          conclusion is based on the data gathered in testing the speed of each
          search algorithm finding search data through 100, 1000, 10000 data
          sets.
        </div>
      </div>
      <div class="best-performing-search-algorit">
        <b class="the-best-performing1">The Best Performing Search Algorithm</b>
        <div class="after-conducting-a1">
          After conducting a thorough analysis, it was observed that
          Interpolation Search Algorithm performed the best overall. This
          conclusion is based on the data gathered in testing the speed of each
          search algorithm finding search data through 100, 1000, 10000 data
          sets.
        </div>
        <img class="search-1-icon" alt="" src="/static/public/search-1@2x.png" />

        <i class="maxim-basinski-premium-container">
          <a
            class="maxim-basinski-premium"
            href="https://www.flaticon.com/authors/maxim-basinski-premium"
            target="_blank"
          >
            <span class="maxim-basinski-premium1"
              >Maxim Basinski Premium</span
            > </a
          >, Freepik
        </i>
      </div>
      <div class="data-set-size">
        <b class="the-best-performing"
          >Impact of Data Set Size on Algorithm Performance</b
        >
        <div class="after-conducting-a">
          The size of the data set had a noticeable impact on the performance of
          the search algorithms. It was observed that certain algorithms such as
          Interpolation search algorithm scaled well with larger data sets,
          while algorithms such as ternary search algorithm showed better
          efficiency with smaller datasets. Despite the difference in
          algorithms, smaller data sets showed faster response than those of the
          bigger sets ahead.
        </div>
        <i class="vectorsmarket15">vectorsmarket15</i>
        <img
          class="data-science-1-icon"
          alt=""
          src="/static/public/datascience-1@2x.png"
        />
      </div>
      <div class="specific-data-sets">
        <b class="algorithm-performance-on"
          >Algorithm Performance on Specific Data Sets</b
        >
        <div class="upon-examining-individual">
          Upon examining individual data sets, it became evident that certain
          search algorithms excelled in specific scenarios. For instance, the
          Ternary search algorithm demonstrated superior performance on 100 data
          sets, while the Interpolation search algorithm outperformed others in
          both 1000 and 10000 data sets.
        </div>
        <i class="freepik">Freepik</i>
        <img class="list-1-icon" alt="" src="/static/public/list-1@2x.png" />
      </div>
      <div class="conclusion">
        <b class="hereby-we-conclude">Hereby, we conclude that:</b>
        <div class="the-study-highlights">
          The study highlights the performance of different search algorithms.
          While Interpolation emerged as the overall top performer, the context
          of the data set significantly influenced the algorithm's efficacy.
          This emphasizes the importance of selecting an algorithm tailored to
          the specific characteristics of the data at hand. Furthermore, as the
          data set size increased, certain algorithms demonstrated scalability
          and efficiency, contributing to a more comprehensive understanding of
          their applicability in various scenarios. Overall, the findings
          underscore the need for a thoughtful and context-dependent selection
          of search algorithms based on the characteristics of the data to
          achieve optimal results.
        </div>
      </div>
      <div class="the-specifics">
        <div class="the-specifics-child"></div>
        <div class="the-specifics-item"></div>
        <div class="appendix-a-table-container">
          <b>Appendix A. </b>
          <i>TABLE OF ANALYSIS FOR DIFFERENT SEARCH ALGORITHMS</i>
        </div>
        <img class="image-8-icon" alt="" src="/static/public/image-8@2x.png" />

        <img class="image-9-icon" alt="" src="/static/public/image-9@2x.png" />
        <div class="the-specifics1">The Specifics</div>
      </div>
    </div>
  </body>
</html>
